body {
  margin: 0;
  padding: 0;
  background-color: rgb(47, 47, 47) !important;
  /* justify-content: center; */
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.navbar {
  display: block;
}

.app {
  display: flex !important;
  justify-content: center;
}

.body {
  background-color: rgb(255, 145, 10);
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 10px;
  /* min-width: 800px; */
  margin-top: 50px;
}
.cal-sidebar {
  width: 100%;
}

.button-container,
.info-container {
  display: flex;
  padding-top: 10px;
  align-items: center;
}

.button-container button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 12px;
  background-color: transparent;
}

.edit {
  border: rgb(169, 93, 0) 1px solid;
  color: rgb(255, 145, 10);
  text-transform: uppercase;
}

.edit:hover {
  background-color: rgb(255, 145, 10);
  color: white;
}

/* List Header */
.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: rgb(42, 42, 42) 1px solid;
}

/* List Item */
.list-item {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
  display: flex;
  justify-content: space-between;
}

.tick {
  padding: 10px;
}

.tick path {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 32;
}
