@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: rgb(47, 47, 47) !important;
  /* justify-content: center; */
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
}

.navbar {
  display: block;
}

.app {
  display: flex !important;
  justify-content: center;
}

.body {
  background-color: rgb(255, 145, 10);
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 10px;
  /* min-width: 800px; */
  margin-top: 50px;
}
.cal-sidebar {
  width: 100%;
}

.button-container,
.info-container {
  display: flex;
  padding-top: 10px;
  align-items: center;
}

.filter-container {
  display: flex;
  width: 50%;
  align-items: center;
}

.button-container button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 12px;
  background-color: transparent;
}

/* List Header */
.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: rgb(42, 42, 42) 1px solid;
  min-width: 67rem !important;
}

.task-info {
  margin: 10px;
}

.add-task-button {
  background-color: #dc7843 !important;
  border: 1px solid #000000 !important;
  color: rgb(0, 0, 0) !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block !important;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.addtask-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3b92e9;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
  /* margin-bottom: 20px; */
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
  display: flex;
  justify-content: space-between;
}

/* List Item */
.list-item {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
  display: flex;
  justify-content: space-between;
}

.tick {
  padding: 10px;
}

.tick path {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 32;
}
